# Analisis de las ventas de una tienda en línea

## Integrantes

Nombre 1: Marco Alessandro Contreras Solís

Nombre 2: Pedro Gomez Alvarez

### Ejercicio

Utilzar los archivos "datos/ventas/*.txt" para contestar las siguientes preguntas. A continuación el código propuesto para obtener el dataframe:

```python
files = glob('datos/Ventas/*.txt')
df =  pd.concat((pd.read_csv(file) for file in files))
df=df.dropna(axis='rows',how='any')
df=df[df['Quantity Ordered']!='Quantity Ordered']
```

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
from datetime import datetime
files = glob.glob('datos/Ventas/*.txt')
df =  pd.concat((pd.read_csv(file) for file in files))
df=df.dropna(axis='rows',how='any')
df=df[df['Quantity Ordered']!='Quantity Ordered']
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [3]:
df['Order Date'] = pd.to_datetime(df['Order Date'], format= '%m/%d/%y %H:%M')
df = df.set_index('Order Date')
df

,Order ID,Product,Quantity Ordered,Price Each,Purchase Address
Order Date,,,,,
2019-04-19 08:46:00,176558,USB-C Charging Cable,2,11.95,"917 1st St, Dallas, TX 75001"
2019-04-07 22:30:00,176559,Bose SoundSport Headphones,1,99.99,"682 Chestnut St, Boston, MA 02215"
2019-04-12 14:38:00,176560,Google Phone,1,600,"669 Spruce St, Los Angeles, CA 90001"
2019-04-12 14:38:00,176560,Wired Headphones,1,11.99,"669 Spruce St, Los Angeles, CA 90001"
2019-04-30 09:27:00,176561,Wired Headphones,1,11.99,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...
2019-09-17 20:56:00,259353,AAA Batteries (4-pack),3,2.99,"840 Highland St, Los Angeles, CA 90001"
2019-09-01 16:00:00,259354,iPhone,1,700,"216 Dogwood St, San Francisco, CA 94016"
2019-09-23 07:39:00,259355,iPhone,1,700,"220 12th St, San Francisco, CA 94016"
2019-09-19 17:30:00,259356,34in Ultrawide Monitor,1,379.99,"511 Forest St, San Francisco, CA 94016"
2019-09-30 00:18:00,259357,USB-C Charging Cable,1,11.95,"250 Meadow St, San Francisco, CA 94016"

<div class="alert alert-success">
    
0. Explicar que hace el código de arriba
    
</div>

1. La primera línea del código se encarga de buscar archivos .txt en una dirección (En este caso tuve que modificar la dirección dado que se trabajó en Google Colab) mediante la biblioteca 'glob'.

2. La segunda línea lee todos los archivos .txt en la dirección dada en la linea anterior y los concatena en un DataFrame.

3. La tercera línea filtra el DataFrame resultante eliminando las filas que contengan valores NaN en cualquier columna.

4. Filtra las filas donde la columna 'Quantity Ordered' no sea igual a 'Quantity Ordered'.

5. Muestra las primeras filas del DataFrame resultante.

Ahora se crea una columna auxiliar para los cálculos que se harán mas adelante. Esta columna tiene como nombre **'Venta Total'** y cuantifica el ingreso total de cada orden:

In [4]:
df['Quantity Ordered'] = df['Quantity Ordered'].astype(int)
df['Price Each'] = df['Price Each'].astype(float)
df['Venta Total'] = df['Quantity Ordered']*df['Price Each']
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Purchase Address,Venta Total
Order Date,,,,,,
2019-04-19 08:46:00,176558,USB-C Charging Cable,2,11.95,"917 1st St, Dallas, TX 75001",23.90
2019-04-07 22:30:00,176559,Bose SoundSport Headphones,1,99.99,"682 Chestnut St, Boston, MA 02215",99.99
2019-04-12 14:38:00,176560,Google Phone,1,600.00,"669 Spruce St, Los Angeles, CA 90001",600.00
2019-04-12 14:38:00,176560,Wired Headphones,1,11.99,"669 Spruce St, Los Angeles, CA 90001",11.99
2019-04-30 09:27:00,176561,Wired Headphones,1,11.99,"333 8th St, Los Angeles, CA 90001",11.99

<div class="alert alert-success">
    
1. Encuentre el número de productos que se adquirieron en Los Angeles, CA
    
</div>

In [5]:
prod_LosAngeles = df[df['Purchase Address'].str.contains('Los Angeles')]['Quantity Ordered'].sum()

print('El numero de productos adquiridos en Los Angeles es' , prod_LosAngeles)

El numero de productos adquiridos en Los Angeles es 33289

<div class="alert alert-success">
    
2. ¿Cuántos iPhone se vendieron?

    
</div>

In [6]:
num_iPhone = df[df['Product'].str.contains('iPhone')]['Quantity Ordered'].sum()
print('Se vendieron' , num_iPhone , 'iPhones')

Se vendieron 6849 iPhones

<div class="alert alert-success">
    
3. ¿Cuánto fue su ganancia por venta de baterías?
    
</div>

In [7]:
bat_total_money = df[df['Product'].str.contains('Batteries')]['Venta Total'].sum()
print('La ganacia por venta de baterias asciende a unos $',bat_total_money)

La ganacia por venta de baterias asciende a unos $ 198859.23

<div class="alert alert-success">
    
4. ¿Cuál fue el código postal que más ordenes realizó?

    
</div>

In [8]:
def codigo(direc):
  cod = direc.split(', ')[-1]
  return cod
df['Codigo Postal'] = df['Purchase Address'].apply(codigo)
vent_codigo = df['Codigo Postal'].value_counts()
print('El codigo postal que mas ordenes realizo fue' , vent_codigo.index[0])

El codigo postal que mas ordenes realizo fue CA 94016

<div class="alert alert-success">
    
5.  a) ¿Cuál fue el producto con más ganancias?
    
    b) ¿Cuál fue el producto con más unidades vendidas?

    
</div>

In [9]:
max_gan = df.groupby('Product')['Venta Total'].sum().idxmax()

max_prod = df.groupby('Product')['Quantity Ordered'].sum().idxmax()

print('a) El producto con mas ganancias es' , max_gan)
print('b) El producto con mas unidades vendidas es' , max_prod)

a) El producto con mas ganancias es Macbook Pro Laptop
b) El producto con mas unidades vendidas es AAA Batteries (4-pack)

<div class="alert alert-success">
    
6. ¿Cuales son los 5 productos más vendidos?     
</div>

In [10]:
prod_ven = df.groupby('Product')['Quantity Ordered'].sum().sort_values(ascending = False)
print('Los 5 productos mas vendidos son:' )
for i in prod_ven.index[0:5]:
  print(i)

Los 5 productos mas vendidos son:
AAA Batteries (4-pack)
AA Batteries (4-pack)
USB-C Charging Cable
Lightning Charging Cable
Wired Headphones

<div class="alert alert-success">
    
7.  ¿Cuales son los 5 productos con las ganancias más altas?

    
</div>

In [11]:
prod_gan = df.groupby('Product')['Venta Total'].sum().sort_values(ascending = False)
print('Los 5 productos con las ganancias mas altas son:' )
for i in prod_gan.index[0:5]:
  print(i)

Los 5 productos con las ganancias mas altas son:
Macbook Pro Laptop
iPhone
ThinkPad Laptop
Google Phone
27in 4K Gaming Monitor

<div class="alert alert-success">
    
8. ¿A qué hora recomendaría mostrar anuncios para maximizar la probabilidad de que el cliente compre un producto?     
</div>

In [12]:

hora=df['Order ID'].groupby(df.to_period('H').index.strftime('%H:%M')).count().idxmax()
hora_final=datetime.strptime(hora,'%H:%M')+pd.Timedelta('1H')
print('El anuncio puede publicarse de',hora,'hasta',hora_final.strftime('%H:%M'))

El anuncio puede publicarse de 19:00 hasta 20:00

<div class="alert alert-success">
    
 9.
    a) ¿Cuál es el día de más ganancias por cada mes?
    
    b) ¿Cuál es el mes con más ganancias y el de menos ganancias?
    
</div>

In [13]:
#a)
for mes in range(1,13):
  max=df[df.index.month==mes]['Venta Total'].idxmax().strftime('%d-%B-%y')
  min=df[df.index.month==mes]['Venta Total'].idxmin().strftime('%d-%B-%y')
  print('El dia con más ganancias es', max)
  print('El dia con menos ganancias es', min,'\n')

El dia con más ganancias es 31-January-19
El dia con menos ganancias es 01-January-20

El dia con más ganancias es 26-February-19
El dia con menos ganancias es 15-February-19

El dia con más ganancias es 08-March-19
El dia con menos ganancias es 01-March-19

El dia con más ganancias es 27-April-19
El dia con menos ganancias es 27-April-19

El dia con más ganancias es 13-May-19
El dia con menos ganancias es 15-May-19

El dia con más ganancias es 08-June-19
El dia con menos ganancias es 13-June-19

El dia con más ganancias es 24-July-19
El dia con menos ganancias es 05-July-19

El dia con más ganancias es 07-August-19
El dia con menos ganancias es 15-August-19

El dia con más ganancias es 02-September-19
El dia con menos ganancias es 01-September-19

El dia con más ganancias es 02-October-19
El dia con menos ganancias es 01-October-19

El dia con más ganancias es 09-November-19
El dia con menos ganancias es 23-November-19

El dia con más ganancias es 30-December-19
El dia con menos ganancias es 26-December-19

In [14]:
#b)
max_m = df.groupby(df.index.to_period('M'))['Venta Total'].sum().idxmax()
min_m = df.groupby(df.index.to_period('M'))['Venta Total'].sum().idxmin()
print(f'b )El mes con mas ganancias es el {max_m}, mientras que el mes con menos ganancias es el {min_m}')

b )El mes con mas ganancias es el 2019-12, mientras que el mes con menos ganancias es el 2020-01

<div class="alert alert-success">
    
10. ¿Cuál fue el producto más comprado en San Francisco, CA
    
</div>

In [15]:
max_sanF = df[df['Purchase Address'].str.contains('San Francisco, C')].groupby('Product')['Quantity Ordered'].sum().sort_values(ascending = False)
print('El producto que mas se vendio en San Francisco, CA es' , max_sanF.idxmax())

El producto que mas se vendio en San Francisco, CA es AAA Batteries (4-pack)

<div class="alert alert-success">
    
11. Escribir una conclusión del ejercicio (ventajas de usar pandas, herramientas mas utilizadas en este ejercicio, etc).
    
</div>

La realización de este ejercicio nos ayudó a ver la utilidad de Pandas así como su facilidad para poder realizar operaciones que en otros lenguajes de programación serían bastante complejas. Los DataFrames son elementos a los que estamos acostumbrados cotidianamente pero Pandas permite trabajar con ellos de manera muy sencilla y obtener información muy valiosa.
En esta notebook las herramientas de agrupamiento fueron las más utilizadas porque nos permiten filtrar información para obtener datos más precisos. Trabajar con marcas temporales como las de esta notebook se vuelven tareas sencillas gracias al uso de las librerías y se pueden obtener gráficas muy valiosas debido a estos agrupamientos.
Otra gran ventaja de esta librería es su documentación y cantidad de ejemplos disponibles en la red que permiten resolver cientos de problemas con los que nos podamos topar.